.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f4ff;
}

.home-card {
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.home-card h2 {
    margin-bottom: 25px;
    color: #6a5acd;
    font-size: 24px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-btn {
    background: #6a5acd;
    color: white;
    padding: 14px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.main-btn:hover {
    background: #1d345b;
}

.dropdown {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: fadeDown 0.3s ease;
}

.sub-btn {
    background: white;
    border: 2px solid #6a5acd;
    color: #6a5acd;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.sub-btn:hover {
    background: #6a5acd;
    color: white;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
